:root {
  --md-primary-fg-color:        #28cf4d;
  --md-default-fg-color--light: #ddc122;
  --md-accent-fg-color:         #ca1717;
  --md-default-fg-color--lighter: #17a6ca;
  --md-primary-fg-color--light: #6517ca;
  --md-primary-fg-color--dark: #6517ca;
}
